header{
    background: linear-gradient(138deg, rgba(131,58,180,1) 0%, rgba(33,205,255,1) 100%);
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    width: 90%;
    max-width: 1200px;
    margin: auto;

}

.menu-section nav ul{
    display: flex;
}

.menu-section nav ul li {
    font-size: 2.1rem;
    margin-left: 4.8rem;
}

.menu-section nav ul li a{
    padding: 6px 10px;
    border-radius: 8px;
}

.menu-section nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.144);
    transition: 0.3s;
}

